<div id="gameModal" class="modal fade" role="dialog" data-url='@Url.Action("GetGameListing")'>
    <div class="modal-dialog" role="document">
        <div id="gameContainer" class="modal-content">
        </div>
    </div>
</div>

<button id="showGame">Show Game Listing</button>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#showGame').click(function() {
                var url = $('#gameModal').data('url');

                $.get(url, function(data) {
                    $('#gameContainer').html(data);

                    $('#gameModal').modal('show');
                });
            });
        });
    </script>
}